CREATE TABLE IF NOT EXISTS public.mess_attendance (id bigint GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY, student_id bigint REFERENCES public.students(id) ON DELETE CASCADE NOT NULL, meal_type text CHECK (meal_type IN ('Breakfast', 'Lunch', 'Snacks', 'Dinner')) NOT NULL, marked_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL);
