ALTER TABLE complaints DROP CONSTRAINT IF EXISTS complaints_category_check; ALTER TABLE complaints ADD CONSTRAINT complaints_category_check CHECK (category IN ('Electrical', 'Plumbing', 'Furniture', 'Cleanliness', 'Mess', 'Other'));
